.form_group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.form_group label{
    font-size: 0.8em;
    font-weight: 600;
    color: #555555;
}

.form_group label .optional{
    font-size: 0.8em;
    color: #b1b0b0;
}

.form_group input{
    width: 100%;
    height: 40px;
    border: 0.3px solid #aaaaaa57;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    box-sizing: border-box;
}

::placeholder{
    opacity: 0.8;
}