.form_group{
    margin: 0;
}

label{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #80808036;
    border-radius: 5px;
}

.form_group input[type="radio"]{
    display: none;
}

.form_group input[type="radio"]:checked + label{
    border: 1px solid #7d5bf3;
}

.form_group input[type="radio"]:checked + label i{
    color: #7d5bf3;
}

.form_group i{
    font-size: 1.4em;
}

.textContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 1.2em;
    color: #555555;
}

.desc{
    color: #818181;
    font-size: 1em;
    line-height: 1.5;
}


@media all and (max-width:400px){
    .form_group label{
        min-height: 175px;
    }
}
